body {
    background-color: #F8CA00;
    color: white;
    font-family: arial, sans-serif;
    font-weight:400;
  }
  .white-box {
    background-color: #FFFFFF;
    color: black;
    margin: 40px 18%;
    padding: 5% 5% 5% 10%;
    font-family: 'arial', sans-serif;
    font-weight:300;
    border-radius: 2.5px;
  }
  
  .random-quote { 
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
  }
  .random-author {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-align: right;
  }
  .button {
    background-color: #D2691E;
    color: #FFFFFF;
    border: none;
    float: left;
    margin: 15px 5px auto auto;
    padding: 5px 10px 5px 10px;
  }
  .button {
    opacity: 1;
  }
  .button:hover {
    opacity: 0.75;
  }
  .new-quote-button {
    float: right;
  }
  